.search-block {
  height: 10rem;
  margin-top: 1rem; }

.result-block {
  position: absolute;
  top: 11rem;
  height: calc(100% - 10rem - 1rem);
  max-height: calc(100% - 10rem - 1rem);
  overflow-y: auto;
  width: 100%; }
